/*HEADER*/

#header {
    width: 100%;
    height: 20%;
    margin: 30px;
    background-color: white;
}
/*Styling for all museum logos*/
#logo-BAND, #logo-SMH, #logo-MAAA {
    width: 100px;
    height: auto;
    float: left;
    margin-left: 7px;
}

/*Styling for the navbar, including the nav itself, the list items, and the links*/
nav {
    font-family: Sora;
    float: right;
    font-size: 20px;
    text-align: center;
    width: 40%;
}

nav li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:link {
    color:black;
}

a:visited {
    color: #63425f;
}

a:hover {
    color:red
}

/*BODY*/
body {

    background-color: white;
    font-family: Sora;
    color: black;
}

/*Introduction section, including the title of the event + a short description*/
#intro {
    margin-bottom: 20px;
}

/*Section one, which includes small exhibit snippets and a background image taken from the civil rights movement*/
#sect1 {
    background: url('images/I-Am-a-ManPhoto.jpg');
    background-size: auto;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}

/*Styling for the exhibit title*/
.title {
    width: 50%;
    margin: auto;
    padding-top: 150px;
    font-size: 60px;
    text-align: center;
}

/*Styling for the exhibit description*/
.illustrateDescription {
    width: 60%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

/*Styling for the exhibit snippets in Section One*/
.box {
    width: 30%;
    height: auto;
    margin: 120px 20px;
    padding: 10px;
    background-color: white;
    color: black;
    font-family: Sora;
    text-align: left;
}

/*Styling for the exhibit snippet in section two*/
#sect2 {
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Sora;
    display: flex;
    justify-content:left;
}

/*Styling for the image in section two.*/
#sect2 img {
    border-radius: 50%;
    width: 80%;
    margin: 30px;
    display: block;
}

#musicDescription {
    width: 60%;
    float: right;
    vertical-align: center;
    margin: auto;
}

#musicDescription a:hover {
    color:red;
}

#musicDescription a {
    color: lavender;
}

.responsive {
    width: 30%;
    height: auto;
  }
