/*HEADER*/

#header {
    width: 100%;
    height: 20%;
    margin: 20px;
    padding: 5px;
    background-color: white;
}
/*Styling for all museum logos*/
#logo-BAND, #logo-SMH, #logo-MAAA {
    width: 100px;
    height: auto;
    float: left;
    margin-left: 7px;
}

/*Styling for the navbar, including the nav itself, the list items, and the links*/
nav {
    font-family: Sora;
    float: right;
    font-size: 20px;
    text-align: center;
    width: 40%;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:link {
    color:black;
}

nav a:visited {
    color: #63425f;
}

/*BODY*/
body {

    background-color: white;
    font-family: Sora;
    color: black;
}

/*Introduction section, including the title of the event + a short description*/
#intro {
    margin-bottom: 20px;
}

/*Section one, which includes small exhibit snippets and a background image taken from the civil rights movement*/
#sect1 {
    background: url('images/I-Am-a-ManPhoto.jpg');
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}

/*Styling for the exhibit title*/
.title {
    width: 50%;
    margin: auto;
    padding-top: 150px;
    font-size: 60px;
    text-align: center;
}

/*Styling for the exhibit description*/
.description {
    width: 60%;
    margin: auto;
    font-size: 20px;
    text-align: center;

}

/*Styling for the exhibit snippets in Section One*/
.box {
    width: 300px;
    height: auto;
    margin: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    font-family: Sora;
    text-align: left;
}
